body {
    background-color: #77AADD;
    background-image: url(imgs/FONDGLOBAL.jpg);
    background-repeat: repeat-x;
    margin: 0% 0%;
    padding: 0.6em;
    font-family: "Trebuchet MS", Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 0.8em;
}
#contenu a {
    color: black;
}
.bootstrap-select>.dropdown-toggle.bs-placeholder, .bootstrap-select>.dropdown-toggle.bs-placeholder:active, .bootstrap-select>.dropdown-toggle.bs-placeholder:focus, .bootstrap-select>.dropdown-toggle.bs-placeholder:hover {
    color: black;
}
.bootstrap-select .dropdown-toggle .filter-option {
    text-align: center;
}
fieldset{
    border: 1px solid black;
}
.gPDF{
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    float: right;
    padding: 5px;
    margin: 10px;
    outline: none;
    text-decoration: none;
    color: black;
    background-color: rgb(207, 207, 0);
    border-radius: 10px;
}
.gPDF:hover{
    outline: none;
    text-decoration: none;
}

a:hover{
    outline: none;
    text-decoration: none;
}
